html {

    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
}

.main {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(151, 29, 141);
}

.nav_part1{
    width: 30%;
    background-color: coral;
    height: 30%;

}
.nav_part1 h1{
    font-size: medium;
    font-weight: 800;
}
.nav_part2{
    text-decoration: none;
    
}

.nav_part2 a{
    justify-content: flex-end;
    color: chartreuse;
    margin-top: 20px;
    font-weight: 800;
    font-size: medium;
    margin: 80px;
}